/*===========================================
   Logo
===========================================*/

header svg {
  height: 140px;
  padding: 10px 0 10px;
  margin-bottom: 20px;
}

.logo-paw {
  transition: .5s
}

.logo:hover .logo-paw{
  animation: paw-hover 1s ease-in-out forwards;
}

.st0 {
  fill: $logo-background;
}
.st1 {
  fill: $logo-text;
}
.st2 {
  fill: $logo-paw;
}

.black path {
  fill: $black;
}

.logo * {
    transform-origin: 50% 50%;
}

.middle-toe,
.pad,
.right-toe,
.left-toe {
  animation: grow 1s ease-out backwards;
}

.left-toe {
  animation-delay: .1s;
}

.middle-toe {
  animation-delay: .15s;
}

.right-toe {
  animation-delay: .2s;
}

.circle {
  stroke: $logo-text;
  stroke-width: 2;
  stroke-dasharray: 316;
  stroke-dashoffset: 316;

  animation: offset .8s ease-in-out forwards;
  animation-delay: 1s;
}

.first-word,
.second-word,
.third-word {
  opacity: 0;
}

@media screen and (min-width: 425px) {
  .first-word,
  .second-word,
  .third-word {
    opacity: 1;
  }

  header svg {
    margin-bottom: 0;
  }
}
